.bili-nav{
    padding-left: 28px;
    display: flex;
    text-align: center;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}

/* nav左侧入口区 */
.left-entry{
    display: flex;
}

.left-entry .entry-title{
    display: flex;
    align-items: center;
    height: 64px;
    /* padding-right: 24px; */
    color: #fff;
    margin-right: 15px;
}

.left-entry .entry-title svg {
    margin-right: 6px;
}


/* nav 中间搜索区 */
.center-search-container{
    flex: 1;
    height: 40px;
    padding: 0 48px 0 4px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #e3e5e7;
    background-color: #f1f2f3;
    display: flex;
    align-items: center;
    position: relative;
}

.center-search-container:hover{
    background-color: #fff;
}

.center-search-container .nav-search-content{
    display: flex;
    height: 20px;
    width: 100%;
    padding: 0 8px;
}

.nav-search-content .nav-search-input{
    flex: 1;
    background-color: transparent;
    line-height: 20px;
    overflow: hidden;
    padding-right: 8px;
}

.center-search-container .nav-search-button{
    position: absolute;
    top: 4px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .3s;
}

.center-search-container .center-search-container:hover{
    background-color: #e3e4e5;
}

/* nav 右侧入口 */
.right-entry{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.right-entry .header-avatar{
    height: 50px;
    width: 50px;
    padding-right: 10px;
    position: relative;
}

.right-entry .header-avatar a {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    background-color: #00aeec;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    color:#fff;
}

.right-entry .right-entry-item{
    min-width: 50px;
    margin-right: 4px;
}

.right-entry .right-entry-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.right-entry-item a span {
    font-size: 13px;
}

.right-entry .upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 34px;
    line-height: 34px;
    border-radius: 8px;
    color: #fff;
    background-color: #fb7299;
    margin-right: 10px;
}

.right-entry .upload span {
    margin-left: 5px;
}